<ion-header>
    <ion-navbar>
        <ion-title>{{ titleModal }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form action="javascript:void(0)" (ngSubmit)="saveClient(client)" role="form">
        <ion-input type="hidden" id="id" name="id" [(ngModel)]="client.id" ></ion-input>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label><strong>Nome</strong></ion-label>
                    <ion-input type="text" id="name" name="name" class="form-control" required [(ngModel)]="client.name" autofocus ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label><strong>CPF</strong></ion-label>
                    <ion-input type="text" id="cpf" name="cpf" class="form-control" required [(ngModel)]="client.cpf" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label><strong>Data de Nascimento</strong></ion-label>
                    <ion-input type="date" id="birthdate" name="birthdate" class="form-control" required [(ngModel)]="client.birthdate" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="text-right">
                    <button type="submit" ion-button round color="primary">
                        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
                        &nbsp;
                        Salvar
                    </button>
                    <button type="button" ion-button round color="light" (click)="closeModal()">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                        &nbsp;
                        Cancelar
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
